body {
    font-family: sans-serif;
    line-height: 2rem;
    animation: bgColor 2s infinite linear;
}
.picture {
    border-radius: 50%;
    width: 15%;
    animation: out 0.5s linear;
}

.picture:hover {
    animation: spin 0.5s linear;
    animation-fill-mode: forwards;
}

.header {
    display: flex;
    gap: 5%;
}

.header h3 {
    font-weight: normal;
}

.info-section {
    display: flex;
}

    
    
@keyframes bgColor {
    12.5% {
      background-color: red;
    }
    25% {
      background-color: orange;
    }
    37.5% {
      background-color: yellow;
    }
    50% {
      background-color: green;
    }
    62% {
      background-color: blue;
    }
    75% {
      background-color: indigo;
    }
    87% {
      background-color: violet;
    }
    100% {
      background-color: red;
    }
  }

  @keyframes spin { 
    30% {
        -webkit-transform: rotate(360deg); 
        transform:rotate(180deg); 
        scale: 1.1;
    }
    70% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(3400deg); 
        scale: 1.2;
    } 
    100% {
        -webkit-transform: rotate(360deg); 
        transform:rotate(3600deg); 
        scale: 1.5;
    }

    
}

@keyframes out { 
    from   { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(3600deg); 
        scale: 1.5; }
    to { -webkit-transform: rotate(360deg); 
        transform:rotate(0deg); 
        scale: 1;}
}